* {
    margin: 0;
    padding: 0;
}
.root-container {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-512px);
    width: 1024px;

    border-left: 1px solid #333;
    border-right: 1px solid #333;
}